.container {
  max-width: 960px;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.site-banner{
  background-size: cover;
  background-image: url("media/icon_banner.png");
  background-repeat:no-repeat;
}

.site-icon{
  max-width: 50px;
  max-height: auto;
}

.overflow-hidden { overflow: hidden; }

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}